<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WEB_BBS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.bbs.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTopicServlet</display-name>
    <servlet-name>AddTopicServlet</servlet-name>
    <servlet-class>com.bbs.controller.AddTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTopicServlet</servlet-name>
    <url-pattern>/AddTopicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttentionServlet</display-name>
    <servlet-name>AttentionServlet</servlet-name>
    <servlet-class>com.bbs.controller.AttentionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttentionServlet</servlet-name>
    <url-pattern>/AttentionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContentServlet</display-name>
    <servlet-name>ContentServlet</servlet-name>
    <servlet-class>com.bbs.controller.ContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/ContentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.bbs.controller.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Replyservlet</display-name>
    <servlet-name>Replyservlet</servlet-name>
    <servlet-class>com.bbs.controller.Replyservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Replyservlet</servlet-name>
    <url-pattern>/Replyservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.bbs.controller.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
</web-app>